.container {
    background-color: var(--bgSoft);
    padding         : 20px;
    border-radius   : 10px;

    .top {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        margin-bottom  : 20px;

        .addButton {
            padding         : 10px;
            background-color: #5d57d9;
            color           : var(--text);
            border          : none;
            border-radius   : 5px;
            cursor          : pointer;
        }
    }


    .notFound {
        display    : block;
        padding-top: 10px;
        text-align : center;
        font-style : italic;
    }

    .table {
        width: 100%;

        th {
            text-align: left;
        }

        td {
            padding: 10px;
        }

        .product {
            display    : flex;
            align-items: center;
            gap        : 10px;

            .image {
                border-radius: 100rem;
                object-fit   : cover;
            }
        }

        .description {
            min-width         : 400px;
            max-width         : 500px;
            display           : -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow          : hidden;
            text-overflow     : ellipsis;
            word-break        : break-word;
        }

        .buttons {
            display: flex;
            gap    : 10px;

            .button {
                padding      : 5px 10px;
                border-radius: 5px;
                color        : var(--text);
                border       : none;
                cursor       : pointer;
            }

            .view {
                background-color: teal;
            }

            .delete {
                background-color: crimson;
            }
        }
    }
}