.container {
    padding        : 10px;
    display        : flex;
    justify-content: space-between;

    .button {
        padding         : 10px 16px;
        cursor          : pointer;
        border-radius   : 5px;
        color           : black;
        border          : none;
        background-color: #ffffff;

        &:disabled {
            cursor : not-allowed;
            opacity: 0.3;
        }
    }

}